/* turn off row borders in the grid */
.ui.table tr td { border-top: 0px !important; }
/* turn off row borders around labels */
.ui.basic.label { border: 0px !important; }

#content {
  margin-bottom: 4em;
}

.ui.dividing.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

i.icon {
  margin: 0;
}
